# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
.settings/org.eclipse.buildship.core.prefs
.project
gradlew.bat
lib/.classpath
lib/.settings/org.eclipse.buildship.core.prefs
lib/.settings/org.eclipse.jdt.core.prefs
lib/.settings/org.eclipse.jdt.groovy.core.prefs
/.idea
